/* 背景色 */
body {
  background-color: #C4C4C4;
}

header {
  background-color: #ffffff;
}

footer {
  background-color: #ffffff;
}

/* カードを横並びにするためのコンテナ */
.card-container {
  display: flex;
  gap: 16px; /* カード間の余白を指定 */
}

/* カード */
.card {
  padding: 16px; /* カード内の余白を指定 */
  background-color: #ffffff;
}

/* カード内の画像 */
.card__img-top {
  width: 288px;
  height: 182px;
  margin-bottom: 16px; /* 画像の下の余白を指定 */
}

/* タイトルのスタイル */
.card__title {
  color: #282828;
  font-size: 14px;
}

/* 説明のスタイル */
.card__description {
  color: #282828;
  font-size: 12px;
}
